<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AccountManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddAccountServlet</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>bank.controller.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>bank.controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>bank.controller.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllAccountServlet</display-name>
    <servlet-name>SelectAllAccountServlet</servlet-name>
    <servlet-class>bank.controller.SelectAllAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllAccountServlet</servlet-name>
    <url-pattern>/SelectAllAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSingleAccountServlet</display-name>
    <servlet-name>SelectSingleAccountServlet</servlet-name>
    <servlet-class>bank.controller.SelectSingleAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSingleAccountServlet</servlet-name>
    <url-pattern>/SelectSingleAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet1</display-name>
    <servlet-name>UpdateAccountServlet1</servlet-name>
    <servlet-class>bank.controller.UpdateAccountServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet1</servlet-name>
    <url-pattern>/UpdateAccountServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet_1</display-name>
    <servlet-name>UpdateAccountServlet_1</servlet-name>
    <servlet-class>bank.controller.UpdateAccountServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet_1</servlet-name>
    <url-pattern>/UpdateAccountServlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAmountServlet</display-name>
    <servlet-name>DepositAmountServlet</servlet-name>
    <servlet-class>bank.controller.DepositAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAmountServlet</servlet-name>
    <url-pattern>/DepositAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawlAmountServlet</display-name>
    <servlet-name>WithdrawlAmountServlet</servlet-name>
    <servlet-class>bank.controller.WithdrawlAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawlAmountServlet</servlet-name>
    <url-pattern>/WithdrawlAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementServlet</display-name>
    <servlet-name>StatementServlet</servlet-name>
    <servlet-class>bank.controller.StatementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementServlet</servlet-name>
    <url-pattern>/StatementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferAmountServlet</display-name>
    <servlet-name>TransferAmountServlet</servlet-name>
    <servlet-class>bank.controller.TransferAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferAmountServlet</servlet-name>
    <url-pattern>/TransferAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>bank.controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalanceServlet</display-name>
    <servlet-name>BalanceServlet</servlet-name>
    <servlet-class>bank.controller.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServlet</servlet-name>
    <url-pattern>/BalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>bank.controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>